on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-24.04-arm

    steps:
      - uses: actions/checkout@v4

      - name: install packages
        run: |
          sudo apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y \
            erofs-utils \
            systemd-ukify
      - uses: systemd/mkosi@v26

      - name: Build image
        run: |
          sudo mkosi -f --profile erofs-lz4,phosh,embedded-firmware,precompile-akmods,ostree

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: live-pocket-fedora
          path: |
            ./mkosi.output/ostree.ero
